.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  position: relative;
  width: 20rem;
  height: fit-content;
  padding: 2rem;
  border-radius: 2rem;
   
  background: var(--blue);
}
.loginContainer h1 {
  color: var(--light-green);
}


.loginContainer input::placeholder { 
  color: #d6d6d6;
}
.loginContainer input {
  background: transparent;
  width: 25ch;
  padding: 0.5rem; 
  margin: 1rem 0 0;

  color: #fff;
  border-radius: .5rem;
  border: 2px solid var(--light-green)
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.loginContainer button {
  background: var(--orange);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0;
  padding: 0.5rem; 
  width: 100%;
  
  font-weight: bold;
  border: 0;
  border-radius: .5rem;
}
a {
  display: block;
  color: var(--blue);
  background: var(--light-green);
  border-radius: .3rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.4rem;
  margin-top: 1rem;
  width: fit-content;

  z-index: 10;
}

form {
  position: relative;
}
img {
  position: absolute;
  top: .5rem;
  right: 0;
  display: inline;
  border-radius: 50rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
