* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #dadada;
  --blue: #283cfa;
  --orange: #ff7900;
  --light-green: #55dcaa;
}

body {
  font-family: "roboto", sans-serif;
  background: var(--background);
  color: #fff;
}

button, a {
  cursor: pointer;
  transition: filter .25s;
}

button:hover, a:hover{
  filter: brightness(.8);
}